@model IEnumerable<Agric.Models.Devis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_demande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DemandeDevis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevisDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevisAccepter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumDevis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Devis1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevieEnvoyer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_demande)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DemandeDevis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevisDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevisAccepter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumDevis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Devis1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevieEnvoyer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Fullname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
