@model IEnumerable<Agric.Models.Journal>

@{
    ViewBag.Title = "Modification";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="text-center"><h2>MODIFICATION </h2></div>
&nbsp;&nbsp;&nbsp;&nbsp;
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    function myFunction() {
        confirm("Press a button!");
    }
</script>
<div class="d-xl-flex align-items-center text-md-center">


    <a class="nav-link" href="/Client/Create">
        <i class="fas fa-fw fa-table"></i>
        <span>  Demande Essai</span>
    </a>

    <a class="nav-link" href="/Client/Modification">
        <i class="fas fa-fw fa-table"></i>

        <span>
            Notification  <span class="badge badge-danger badge-counter">


                @ViewBag.nbrnotifclient
            </span>
        </span>
    </a>
    <a class="nav-link" href="/Client/Devis">
        <i class="fas fa-fw fa-table"></i>
        <span>Demande de devis</span>
    </a>

    <a class="nav-link" href="/Client/Index">
        <i class="fas fa-fw fa-table"></i>
        <span>Etat d'avancement</span>

    </a>
    <a class="nav-link" href="/Client/ListeDevisRecu">
        <i class="fas fa-fw fa-table"></i>
        <span>
            Devis Recu
            <span class="badge badge-danger badge-counter">


                @ViewBag.nbrdevisclient
            </span>
        </span>

    </a>
    <a class="nav-link" href="/Client/ListeDevisDemander">
        <i class="fas fa-fw fa-table"></i>
        <span>Devis Envoyer </span>

    </a>

</div>
<hr />
<div class="container-fluid" style="width: auto; overflow: auto; scrollbar-base-color: #ffeaff">

    <table class="table table-hover">
        <thead class="bg-primary text-light">
            <tr>
                <th style="min-width:130px ; text-align:center">
                    @Html.DisplayNameFor(model => model.Operation)
                </th>
                <th style="min-width:130px ; text-align:center">
                    @Html.DisplayNameFor(model => model.Date_Modification)
                </th>


                <th style="min-width:130px ; text-align:center">
                    @Html.DisplayNameFor(model => model.Users.Fullname)
                </th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tr onclick="location.href = '@(Url.Action("DetailsEssaiJournal", new { id = item.Id_Essai ,   id1 = item.Id })) '">

                <td style="  text-align:center">

                    @if (item.VuClient == false)
                    {
                        <b>  @Html.DisplayFor(modelItem => item.Operation)</b>
                    }
                    else
                    {@Html.DisplayFor(modelItem => item.Operation)}
                </td>
                <td style="  text-align:center">
                    @if (item.VuClient == false)
                    {
                        <b>   @Html.DisplayFor(modelItem => item.Date_Modification)</b>
                    }
                    else
                    { @Html.DisplayFor(modelItem => item.Date_Modification)}

                </td>

                <td style="  text-align:center">
                    @if (item.VuClient == false)
                    {
                        <b>  @Html.DisplayFor(modelItem => item.Users.Fullname)</b>
                    }
                    else
                    {@Html.DisplayFor(modelItem => item.Users.Fullname)}

                </td>

                <td>
                    <div class="row">
                        <div class="col-12 ">

                            @Html.ActionLink("Supprimer", "DeleteJournal", new { id = item.Id }, new { @class = "btn btn-danger btn-sm btn-block m-1", onclick = "return confirm('Supprimer ???');" })


                        </div>

                    </div>
                </td>
            </tr>

        }

    </table>
</div>
