@model Agric.Models.Devis

@{
    ViewBag.Title = "CreateDevis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center"><h2>Ajouter devis pour Client</h2></div>

    <form action="CreateDevis" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            @Html.HiddenFor(model => model.date_demande)
            @Html.HiddenFor(model => model.DemandeDevis)
            @Html.HiddenFor(model => model.NumDevis)

            @Html.HiddenFor(model => model.DevisDelete)
            @Html.HiddenFor(model => model.DevieEnvoyer)
            @Html.HiddenFor(model => model.DevisAccepter)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.id_client, "id_client", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_client", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_client, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Devis1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="_Devis" value="">
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class=" btn btn-primary btn-block"> Envoyer </button>
                </div>
            </div>
        </div>
    </form>
    <div>
        @Html.ActionLink("Retourner à la liste", "ListeDevisDemander")
    </div>
