@model Agric.Models.Essai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Essai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Culture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Culture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Cloture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Cloture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rapport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rapport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RapportRemis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RapportRemis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRemisRapport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRemisRapport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Fullname)
        </dd>

    </dl>

    <form action="/MyAdmin/DeleteConfirmed/@Model.Id " method="post">
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class=" btn btn-primary btn-block"> Supprimer</button> |
            @Html.ActionLink("Back to List", "ListeUsers")
        </div>

    </form>
</div>
