@model Agric.Models.Essai

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TechLayout.cshtml";
}

<h2>Create</h2>
<style>
    /* Global style */
    .btn-tertiary {
        color: #555;
        padding: 0;
        line-height: 40px;
        width: 300px;
        margin: auto;
        display: block;
        border: 2px solid #555;
        &:hover, &:focus

    {
        color: lighten(#555, 20%);
        border-color: lighten(#555, 20%);
    }

    }

    /* input file style */

    .input-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        + .js-labelFile

    {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
        cursor: pointer;
        .icon:before

    {
        //font-awesome content: "\f093";
    }

    &.has-file {
        .icon:before

    {
        //font-awesome content: "\f00c";
        color: #5AAC7B;
    }

    }
    }
    }
</style>
<script>
    (function () {

        'use strict';

        $('.input-file').each(function () {
            var $input = $(this),
                $label = $input.next('.js-labelFile'),
                labelVal = $label.html();

            $input.on('change', function (element) {
                var fileName = '';
                if (element.target.value) fileName = element.target.value.split('\\').pop();
                fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
            });
        });

    })();


</script>

<form action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Essai</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>


       





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class=" btn btn-primary btn-block"> Validé</button>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
