@model IEnumerable<Agric.Models.Essai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Culture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Cloture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rapport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportRemis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRemisRapport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FDS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaboName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNNotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FDEFicheEssai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EssaiDelets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DPRéf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormulationProduitRéf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Devis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatEssai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevisDemander)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatPaiment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paiment_Regler100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paiment_Regler50)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonPayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payer50)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARéf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Modife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_devis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numdevie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComportementCulture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Instalation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodeClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateNotation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Culture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Cloture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rapport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RapportRemis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRemisRapport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FDS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaboName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FNNotation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FDEFicheEssai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EssaiDelets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DPRéf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormulationProduitRéf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Devis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtatEssai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevisDemander)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtatPaiment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paiment_Regler100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paiment_Regler50)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonPayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payer50)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARéf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Modife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_devis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numdevie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComportementCulture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Instalation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Fullname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
